.posts_index
  .content__right
    .weather-title
      = icon("fas", "cloud-sun")
      東京の天気
    .weather
  .content__center
    - @posts.each do |post|
      .content__center__message
        .content__center__message__left
          .content__center__message__left--image
            - if post.image.present?
              = image_tag post.image.url, size: "100x100"
        .content__center__message__right
          .content__center__message__right__text
            = icon("fab", "itunes-note")
            = link_to post.title, post_path(post.id),class: "title"
          .content__center__message__right__artistname
            Artist ：
            = post.artist_name
          .content__center__message__right__bottom
            .content__center__message__right__bottom__data
              = post.created_at.to_s(:datetime_jp)
          .content__center__message__right__user
            .content__center__message__right__user--data
              投稿者：
              %a{ href: "/users/#{post.user.id}", class: "user"}
                = post.user.name
  .content__left
    .content__left__title
      = icon("fas", "rss")
      今日のニュース
    .news