.post_edit
  %p 投稿編集
  %br
  .form
    = form_for @post do |form|
      = form.text_field :title, placeholder: "タイトル", class: "form__title"
      = form.label :image, class: "form__image" do
        = form.file_field :image, class: 'form__image--btn'
        - if @post.image.present? 
          = image_tag @post.image, id: :image_prev
        - else
          = image_tag "no_image.png", id: :image_prev
      = form.text_field :artist_name, placeholder: "アーティスト名", class: "form__artistname"
      = form.text_area :content, placeholder: "コメント", class: "form__text"
      = form.submit "SEND", class: "form__send"
