!!!
%html
  %head
    %meta{:content=> "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Musicapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__title
        = link_to "title", root_path, class: "header__title--logo"
      .header__right
        - if user_signed_in?
          =  current_user.name
          .signed_in
            = link_to "マイページ", "/users/#{current_user.id}"
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "新規投稿", new_post_path, class: "header__right--btn"
        - else
          .no_signed_in
            =link_to "ログイン", new_user_session_path, class: 'post'
            = link_to "新規登録", new_user_registration_path, class: 'post'
    .wrapper
      = yield